body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1176px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:63px;
  top:40px;
  width:301px;
  height:64px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:64px;
}
#u1 {
  position:absolute;
  left:2px;
  top:24px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:77px;
  top:60px;
  width:261px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:24px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:63px;
  top:122px;
  width:700px;
  height:2000px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:2000px;
}
#u5 {
  position:absolute;
  left:2px;
  top:992px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:835px;
  top:274px;
  width:213px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:35px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:857px;
  top:282px;
  width:169px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:738px;
  top:286px;
  width:97px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:80px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:4px;
  width:97px;
  height:2px;
}
#u11 {
  position:absolute;
  left:835px;
  top:443px;
  width:213px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:35px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:857px;
  top:451px;
  width:169px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:19px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:738px;
  top:455px;
  width:97px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:80px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:4px;
  width:97px;
  height:2px;
}
#u16 {
  position:absolute;
  left:850px;
  top:656px;
  width:106px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:35px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:872px;
  top:664px;
  width:169px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:753px;
  top:668px;
  width:97px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:80px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:4px;
  width:97px;
  height:2px;
}
#u21 {
  position:absolute;
  left:753px;
  top:903px;
  width:148px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:131px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:4px;
  width:148px;
  height:2px;
}
#u22 {
  position:absolute;
  left:753px;
  top:1069px;
  width:148px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:131px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:4px;
  width:148px;
  height:2px;
}
#u23 {
  position:absolute;
  left:702px;
  top:880px;
  width:389px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:372px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:4px;
  width:389px;
  height:2px;
}
#u24 {
  position:absolute;
  left:828px;
  top:1257px;
  width:341px;
  height:81px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:81px;
}
#u25 {
  position:absolute;
  left:2px;
  top:32px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:850px;
  top:1269px;
  width:288px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:57px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:731px;
  top:1273px;
  width:97px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:80px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:4px;
  width:97px;
  height:2px;
}
#u29 {
  position:absolute;
  left:731px;
  top:1450px;
  width:213px;
  height:10px;
}
#u29_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_end {
  position:absolute;
  left:196px;
  top:-5px;
  width:18px;
  height:20px;
}
#u29_line {
  position:absolute;
  left:0px;
  top:4px;
  width:213px;
  height:2px;
}
#u30 {
  position:absolute;
  left:880px;
  top:1394px;
  width:122px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u30_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_end {
  position:absolute;
  left:105px;
  top:-5px;
  width:18px;
  height:20px;
}
#u30_line {
  position:absolute;
  left:0px;
  top:4px;
  width:122px;
  height:2px;
}
#u31 {
  position:absolute;
  left:835px;
  top:1619px;
  width:341px;
  height:81px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:81px;
}
#u32 {
  position:absolute;
  left:2px;
  top:32px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:857px;
  top:1631px;
  width:288px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:57px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:738px;
  top:1635px;
  width:97px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:80px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:4px;
  width:97px;
  height:2px;
}
#u36 {
  position:absolute;
  left:835px;
  top:1805px;
  width:341px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:47px;
}
#u37 {
  position:absolute;
  left:2px;
  top:16px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:857px;
  top:1817px;
  width:288px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:738px;
  top:1821px;
  width:97px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:80px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:4px;
  width:97px;
  height:2px;
}
