body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1328px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:63px;
  top:122px;
  width:700px;
  height:1982px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:1982px;
}
#u1 {
  position:absolute;
  left:2px;
  top:983px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:63px;
  top:40px;
  width:269px;
  height:64px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:64px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:77px;
  top:60px;
  width:241px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:24px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:63px;
  top:309px;
  width:1265px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:1248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1265px;
  height:1px;
}
#u7 {
  position:absolute;
  left:63px;
  top:755px;
  width:1265px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:1248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1265px;
  height:1px;
}
#u8 {
  position:absolute;
  left:63px;
  top:1191px;
  width:1265px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:1248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1265px;
  height:1px;
}
#u9 {
  position:absolute;
  left:63px;
  top:1073px;
  width:1265px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:1248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1265px;
  height:1px;
}
#u10 {
  position:absolute;
  left:63px;
  top:1320px;
  width:1265px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:1248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1265px;
  height:1px;
}
#u11 {
  position:absolute;
  left:63px;
  top:1661px;
  width:1265px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:1248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1265px;
  height:1px;
}
#u12 {
  position:absolute;
  left:57px;
  top:2138px;
  width:1265px;
  height:10px;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:1248px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1265px;
  height:1px;
}
#u13 {
  position:absolute;
  left:578px;
  top:60px;
  width:213px;
  height:94px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:94px;
}
#u14 {
  position:absolute;
  left:2px;
  top:39px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:600px;
  top:78px;
  width:169px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:57px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:499px;
  top:124px;
  width:82px;
  height:10px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:65px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:4px;
  width:82px;
  height:2px;
}
#u18 {
  position:absolute;
  left:578px;
  top:164px;
  width:213px;
  height:71px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:71px;
}
#u19 {
  position:absolute;
  left:2px;
  top:28px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:600px;
  top:171px;
  width:169px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:57px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:481px;
  top:189px;
  width:97px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:80px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:4px;
  width:97px;
  height:2px;
}
#u23 {
  position:absolute;
  left:648px;
  top:336px;
  width:213px;
  height:71px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:71px;
}
#u24 {
  position:absolute;
  left:2px;
  top:28px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:670px;
  top:343px;
  width:169px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:57px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:540px;
  top:363px;
  width:108px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:91px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:4px;
  width:108px;
  height:2px;
}
#u28 {
  position:absolute;
  left:64px;
  top:138px;
  width:187px;
  height:83px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:83px;
}
#u29 {
  position:absolute;
  left:2px;
  top:34px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:75px;
  top:151px;
  width:164px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:57px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:151px;
  top:231px;
  width:120px;
  height:10px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  height:2px;
}
#u33 {
  position:absolute;
  left:86px;
  top:363px;
  width:187px;
  height:83px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:83px;
}
#u34 {
  position:absolute;
  left:2px;
  top:34px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:97px;
  top:376px;
  width:164px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:57px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:173px;
  top:456px;
  width:120px;
  height:10px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  height:2px;
}
#u38 {
  position:absolute;
  left:648px;
  top:498px;
  width:213px;
  height:71px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:71px;
}
#u39 {
  position:absolute;
  left:2px;
  top:28px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:670px;
  top:505px;
  width:169px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:57px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:551px;
  top:523px;
  width:97px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:80px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:4px;
  width:97px;
  height:2px;
}
#u43 {
  position:absolute;
  left:86px;
  top:491px;
  width:187px;
  height:83px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:83px;
}
#u44 {
  position:absolute;
  left:2px;
  top:34px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:97px;
  top:504px;
  width:164px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:57px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:173px;
  top:584px;
  width:120px;
  height:10px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u47_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_end {
  position:absolute;
  left:103px;
  top:-5px;
  width:18px;
  height:20px;
}
#u47_line {
  position:absolute;
  left:0px;
  top:4px;
  width:120px;
  height:2px;
}
#u48 {
  position:absolute;
  left:648px;
  top:627px;
  width:213px;
  height:71px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:71px;
}
#u49 {
  position:absolute;
  left:2px;
  top:28px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:670px;
  top:634px;
  width:169px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:57px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:551px;
  top:652px;
  width:97px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:80px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:4px;
  width:97px;
  height:2px;
}
#u53 {
  position:absolute;
  left:65px;
  top:648px;
  width:187px;
  height:97px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:97px;
}
#u54 {
  position:absolute;
  left:2px;
  top:40px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:76px;
  top:654px;
  width:164px;
  height:76px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:76px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:252px;
  top:701px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:35px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:4px;
  width:52px;
  height:2px;
}
#u58 {
  position:absolute;
  left:773px;
  top:775px;
  width:187px;
  height:83px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:83px;
}
#u59 {
  position:absolute;
  left:2px;
  top:34px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:784px;
  top:788px;
  width:164px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:57px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:726px;
  top:819px;
  width:48px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:31px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:4px;
  width:48px;
  height:2px;
}
#u63 {
  position:absolute;
  left:360px;
  top:790px;
  width:187px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:52px;
}
#u64 {
  position:absolute;
  left:2px;
  top:18px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:371px;
  top:796px;
  width:164px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:38px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:544px;
  top:823px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(210deg);
  -moz-transform:rotate(210deg);
  -ms-transform:rotate(210deg);
  transform:rotate(210deg);
}
#u67_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_end {
  position:absolute;
  left:35px;
  top:-5px;
  width:18px;
  height:20px;
}
#u67_line {
  position:absolute;
  left:0px;
  top:4px;
  width:52px;
  height:2px;
}
#u68 {
  position:absolute;
  left:728px;
  top:904px;
  width:306px;
  height:100px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:100px;
}
#u69 {
  position:absolute;
  left:2px;
  top:42px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:739px;
  top:917px;
  width:286px;
  height:76px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:76px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:681px;
  top:948px;
  width:48px;
  height:10px;
}
#u72_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_end {
  position:absolute;
  left:31px;
  top:-5px;
  width:18px;
  height:20px;
}
#u72_line {
  position:absolute;
  left:0px;
  top:4px;
  width:48px;
  height:2px;
}
#u73 {
  position:absolute;
  left:775px;
  top:1118px;
  width:187px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:44px;
}
#u74 {
  position:absolute;
  left:2px;
  top:14px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:786px;
  top:1131px;
  width:164px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:19px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:728px;
  top:1137px;
  width:48px;
  height:10px;
}
#u77_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_end {
  position:absolute;
  left:31px;
  top:-5px;
  width:18px;
  height:20px;
}
#u77_line {
  position:absolute;
  left:0px;
  top:4px;
  width:48px;
  height:2px;
}
#u78 {
  position:absolute;
  left:775px;
  top:1234px;
  width:187px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:44px;
}
#u79 {
  position:absolute;
  left:2px;
  top:14px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:786px;
  top:1247px;
  width:164px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:19px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:728px;
  top:1253px;
  width:48px;
  height:10px;
}
#u82_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_end {
  position:absolute;
  left:31px;
  top:-5px;
  width:18px;
  height:20px;
}
#u82_line {
  position:absolute;
  left:0px;
  top:4px;
  width:48px;
  height:2px;
}
#u83 {
  position:absolute;
  left:775px;
  top:1370px;
  width:481px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:62px;
}
#u84 {
  position:absolute;
  left:2px;
  top:23px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:786px;
  top:1383px;
  width:450px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:38px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:315px;
  top:1389px;
  width:461px;
  height:10px;
}
#u87_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:444px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:4px;
  width:461px;
  height:2px;
}
#u88 {
  position:absolute;
  left:775px;
  top:1517px;
  width:187px;
  height:64px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:64px;
}
#u89 {
  position:absolute;
  left:2px;
  top:24px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:786px;
  top:1530px;
  width:164px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:38px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:728px;
  top:1534px;
  width:48px;
  height:10px;
}
#u92_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_end {
  position:absolute;
  left:31px;
  top:-5px;
  width:18px;
  height:20px;
}
#u92_line {
  position:absolute;
  left:0px;
  top:4px;
  width:48px;
  height:2px;
}
#u93 {
  position:absolute;
  left:775px;
  top:1703px;
  width:187px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:80px;
}
#u94 {
  position:absolute;
  left:2px;
  top:32px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:786px;
  top:1716px;
  width:164px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:57px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:728px;
  top:1720px;
  width:48px;
  height:10px;
}
#u97_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end {
  position:absolute;
  left:31px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line {
  position:absolute;
  left:0px;
  top:4px;
  width:48px;
  height:2px;
}
#u98 {
  position:absolute;
  left:239px;
  top:2024px;
  width:530px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:80px;
}
#u99 {
  position:absolute;
  left:2px;
  top:32px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:252px;
  top:2045px;
  width:504px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  height:38px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:504px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:237px;
  top:1990px;
  width:68px;
  height:10px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:51px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:4px;
  width:68px;
  height:2px;
}
